.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    width: 720px;
    height: 245px;
}
span{
    width: 400px;
    color: #00000099;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
h2{
    margin-right:60px;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}